#custom-calendar {
 display: grid;
 grid-template-columns: repeat(7, 1fr);
 gap: 10px;
 padding: 10px;
 background-color: #333;
 border-radius: 10px;
}

.calendar-day {
 width: 40px;
 height: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 color: #fff;
 cursor: pointer;
 transition: background-color 0.3s;
}

.calendar-day:hover {
 background-color: #555;
}

.today {
 background-color: #666;
}

.selected {
 background-color: #FFA500;
 color: #fff;
}

#event-list {
 margin-top: 20px;
 padding: 10px;
 background-color: #444;
 border-radius: 10px;
 color: white;
 font-size: 16px;
}
