#custom-calendar {
 display: grid;
 grid-template-columns: repeat(7, 1fr);
 gap: 10px;
 max-width: 400px;
 margin: auto;
 background-color: #222;
 padding: 20px;
 border-radius: 10px;
}

#custom-calendar div {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50px;
 color: #fff;
 font-size: 16px;
 border-radius: 50%;
 transition: background-color 0.3s;
 cursor: pointer;
}

#custom-calendar div:hover {
 background-color: #444;
}

#custom-calendar .today {
 background-color: #f39c12;
 color: #fff;
}

#custom-calendar .selected {
 background-color: #e67e22;
}

#event-list {
 background-color: #444;
 padding: 15px;
 border-radius: 10px;
 color: white;
 max-width: 400px;
 margin: 20px auto;
 text-align: center;
}
